@font-face {
  font-family: EternalLogo;
  src: url('./fonts/EternalLogo-MVO7Y.ttf');
}

.loading-screen {
  align-items: center;
  background-color: black;
  justify-content: center;

  h1 {
    color: white;
    font-family: EternalLogo;
    margin: 0;
    width: fit-content;
  }
}

.lds-ellipsis {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 40px;
}

.lds-ellipsis div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background: #fff;
  border-radius: 50%;
  height: 13px;
  position: absolute;
  top: 25px;
  width: 13px;
}

.lds-ellipsis div:nth-child( 1 ) {
  animation: lds-ellipsis1 0.6s infinite;
  left: 8px;
}

.lds-ellipsis div:nth-child( 2 ) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 8px;
}

.lds-ellipsis div:nth-child( 3 ) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 32px;
}

.lds-ellipsis div:nth-child( 4 ) {
  animation: lds-ellipsis3 0.6s infinite;
  left: 56px;
}

@keyframes lds-ellipsis1 {

  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {

  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
